/* .gridContainer{
    border: 1px solid black;
    height: 90vh;
    display: grid;
    /* grid-template-columns: 100px 200px 300px 400px; 
    grid-template-rows: 100px 100px;
    /* grid-template-columns: 200px 200px 200px 200px;*/
    /* grid-template-columns: 100px repeat(4,200px);  */

     /* grid-template-columns: repeat(4,1fr); */
   /* grid-template-columns: 100px 100px; */
   /* gap:10px;
   row-gap: 10px;
   column-gap: 10px;
   align-content: center;
   flex-direction: row;
} */

/* .item{
    color: rgb(173, 7, 250);
    border: 1px solid;
    background-color: rgb(15, 237, 211);
    padding: 30px 40px;
    width:15px;

} */
 body{
    height: 100vh;
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "head head head" "navbar maincontent aside" "footer footer footer";
}
 header{
    grid-area: head;
    background-color: black;
    color: white;
    padding: 10px;
 }
 nav{
    grid-area: navbar;
    background-color: green;
    color: yellow;
    border: 1px solid;
 }
 aside{
    grid-area: Aside;
    background-color: blue;
    color: rgb(189, 245, 5);
    border: 1px solid;
 }
 main{
    grid-area: maincontent;
    background-color: yellow;
    color: red;
    border: 1px solid;
}
footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 10px;
}
header:hover{
   transform: translateY(10px);
}
/* 576px less than 576 for mobiles
768px between for 577 to 768 tabs */
/* 992 between 769 to 992 small screens
1200 between 993 to 1200 normal screens
1200 greater than 1200px for extra larger */
@media (max-width:576px){
   body{
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "head head"
      "navbar maxcontent"
      "footer footer";
   }
aside{
   display: none;
}
.flexItem{
   font-size: 14px;
   height: 50px;
   weight:50px;
}
.main{
   background-color: red;
}
}
@media (min-width:577px) and (max-width:768px)
{
   body{
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "head head head"
      "maincontent aside"
      "footer footer";
   }
   nav{
      display: none;
   }

}
@media(min-width:769px) and (max-width:992px)
{
   body{
      grid-template-areas: "head head head"
      "aside maincontent navbar"
      "footer footer footer";
   }
}
