.App {
  text-align: center;
}
.Container{
  border: 1px solid red;
}
.counter{
  width: 35%;
  border: 2px solid black;
  margin: 20px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: yellow;
  color:red;
}
button{
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 32px;


}
.inc{
  background-color: green;
}
.dec{
  background-color: red;
}

